h1{
   background-color: rgb(147, 147, 147); 
   color: rgb(79, 77, 77);
}
#chalid1{
    background-color: rgb(238,62,128);
}
#chalid2{
    background-color: rgb(244,90,139);
    }
#chalid3{

}
#chalid4{
    
}
#chalid5{

}