h1{
   background-color: rgb(147, 147, 147); 
   color: rgb(79, 77, 77);
}
#chalid1{
    background-color: rgb(238,62,128);
}
#chalid2{
    background-color: rgb(244,90,139);
    }
#chalid3{
    background-color: rgb(243,106,152);
}
#chalid4{
    background-color: rgb(244,123,166); 
}
#chalid5{
    background-color: rgb(245,140,178);
}
#chalid6{
    background-color: rgb(246,159,192);
}
#chalid7{
    background-color: rgb(245,176,204);
}
#chalid8{
    background-color: rgb(0,187,136);
}
#chalid9{
    background-color: rgb(114,193,240);
}
#chalid10{
    background-color: rgb(84,182,237); 
}
#chalid11{
    background-color: rgb(48,170,233);
}