h1{
   background-color: rgb(147, 147, 147); 
   color: rgb(79, 77, 77);
}
#chalid1{
    background-color: #357AAF;
    
}
#chalid2{
    background-color: #3686B9;
    
}
#chalid3{
    background-color: #3293C3;
}
#chalid4{
    background-color:#469FCB;;
}